// ----------------- MIXIN DEFINITIONS:
// RESPONSIVE MEDIA QUERIES:
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// -------------------------- STYLES:
html {
  @include for-phone-only {
    font-size: 12px;
    line-height: 1.2;
  }
  @include for-tablet-portrait-up {
    font-size: 14px;
    line-height: 1.333;
  }
  @include for-tablet-landscape-up {
    font-size: 16px;
    line-height: 1.444;
  }
  @include for-desktop-up {
    font-size: 18px;
    line-height: 1.68;
  }

  // background-attachment: fixed;
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-color-6 */
  background: linear-gradient(to bottom, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // height: 100%;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: Verdana, arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;

  * {
    box-sizing: inherit;

    &::before,
    &::after {
      box-sizing: inherit;
    }
  }
}

button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4),
              inset -5px -5px 2px -4px rgba(0, 0, 0, .2);
  display: inline-block;
  font-size: 90%;
  padding: .3rem .5rem;
  max-height: 100%;
  margin: 0;

  &:active {
    filter: brightness(0.9);
    transform: scale(0.95);
  }

}

fieldset {
  border: 0;
}

h1 {
  display: inline-block;
  margin: 0 auto;
}

input {
  &[type='checkbox'] {
    border: 1px solid gray;
    border-radius: 0;
    margin: .5rem;
  }
}

legend {
  border-bottom: 5px dashed #C33764;
  color: #C33764;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-family: inherit;
  // margin-bottom: 0;
}

td {
  background: rgba(0, 0, 0, 0);
  padding: 1rem;
  white-space: nowrap;
}

thead {
  background: #1d2671; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background-color: rgb(20, 208, 211);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
  color: white;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

  th {
    fill: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    padding: 1rem;
    text-align: left;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    &.selected {
      background-color: rgba(255, 255, 255, .2);
    }
  }
}

tr {
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.attribute-toggle-area {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.attribute-toggle-container {
  @include for-phone-only {
    flex-basis: 50%;
  }
  @include for-tablet-portrait-up {
    flex-basis: 33.333%;
  }
  @include for-tablet-landscape-up {
    flex-basis: 25%;
  }
  @include for-desktop-up {
    flex-basis: 20%;
  }
  @include for-big-desktop-up {
    flex-basis: 12.5%;
  }
  flex: 0 1 auto;
}

.container {
  @include for-phone-only {
    width: 98%;
  }
  @include for-tablet-portrait-up {
    width: 95%;
  }
  @include for-desktop-up {
    max-width: 100%;

  }
  margin: 10px auto;
}

.flex {
  display: flex;
}

.pagination-bar {
  margin: 1rem auto;
}

.pagination-button {
  padding: .5rem 1rem;
}

.paper {
  background-color: white;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 2rem;
}

.Popover-body {
  // background: hsl(0, 0%, 27%);
  background: #c33764;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .5rem 1rem;

  * {
    margin: .1rem auto;
  }
}

.popover-button {
  background: #c33764;
  border: 1px solid #c33764;
  color: white;
  font-weight: 100;


}

.Popover-tipShape {
  // fill: hsl(0, 0%, 27%);
  fill: #c33764;
}

.spread-contents {
  display: flex;
  justify-content: space-between;
}

.table-container {
  table {
    border-collapse: collapse;
  }
}

.th-icon {
  height: 1.2rem;
  margin-bottom: -.2rem;
  width: 1.2rem;
  &:hover {
    fill: #fff;
  }
}

.title-header {
  color: white;;
  font-size: 3rem;
}

.x-scroll {
  flex: 0 0 auto;
}

.x-scroll-container {
  -webkit-overflow-scrolling: touch;
  box-shadow: inset -3px 0px 10px -1px rgba(0, 0, 0, .4);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

